body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    padding: 30px;
    border: solid 2px black;
    min-height: 300px;
    min-width: 400px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#playBtn, #howToPlayBtn {
    background-color: blue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 35px;
}

.hidden {
    display: none;
}

#gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 435px; 
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 24px;
}

#gameBoard .cell {
    background-color: lightgray;
}
